.contain{
    box-sizing: border-box;
    width: auto;
    text-align: center;
    padding: 5px;
    background-color: rgb(75, 100, 138);
    border-radius: 20px;
    color:white;
}
.flex{
    display: flex;
    justify-content: center;
}

